
    #header {
      display: flex;
      position: sticky;
      top: 0px;
      width: 100%;
      height: 50px;
      background-color: rgb(239, 255, 253);
      align-items: center;
      /* 子元素垂直居中 */
      justify-content: right;
      /* 右侧 */
    }

    a {
      text-decoration: none;
    }

    .a3 {
      color: aliceblue;
    }

    #content {
      width: 100%;
      background-color: rgb(60, 125, 65);
    }

    #content1 {
      display: grid;
      margin: 0;
      height: 100vh;
      place-items: center;
      background-color: rgb(38, 213, 213);
      align-content: center;
    }



    p {
      color: aliceblue;
      margin: auto;
    }



    .menu {
      display: flex;
      list-style: none;
      /* 去除列表样式 */
    }

    .menu li {
      font-family: 'Courier New', Courier, monospace;
      margin: 0 10px;
      /* 列表项间隔 */
    }

    .menu a {
      text-decoration: none;
      color: #333;
    }




    #content2 {
      display: grid;
      height: 100vh;
      margin: 0;

      grid-template-columns: minmax(250px, 25%) 1fr;
      /*加载背景图：图片地址 不平铺 */
      background: url(IMG_8457.png) no-repeat;
      /* 让背景图基于容器大小伸缩 */
      background-size: 100% 100%;
      background-attachment: fixed;
    }

    .leftside {
      display: grid;
      background-color: rgba(124, 224, 224, 0.500);
      border-radius: 0 20px 20px 0;
      justify-items: center;
      align-content: center;
      gap: 5px;
    }

    .rightside {
      display: grid;
      align-content: center;
      gap: 20px;
      justify-content: center;
    }

    .frame {
      background-color: rgb(0, 0, 0, 0.4);
      border-radius: 10px;
      /*圆角*/
      padding: 16px;
    }

    #content3 {
      display: grid;
      margin: 0;
      grid-template-columns: minmax(0px, 270px) 1fr minmax(0px, 270px);
      background-color: rgb(255, 255, 255);
    }

    .side3 {
      background-color: rgb(38, 213, 213);
    }

    .main3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }

    .frame3 {
      margin: 16px;
      border: solid rgb(38, 213, 213);
      padding: 5px;
    }

    #footer {
      display: grid;
      width: 100%;
      background-color: rgb(6, 0, 23);
      justify-items: center;
      align-items: center;
    }
  </style>